<div class="container">
  <h1>MyBudget</h1>
  <div class="btn-links">
    <%= link_to "LOG IN", new_user_registration_path, class: "btn-link" %>
    <%= link_to "SING UP", new_user_session_path, class: "btn-link" %>.
  </div>
</div>
