<div class="container clm-row">
  <div class="logo-page el-center">
    <h1>MyBudget</h1>
  </div>
  <div class="btn-links clm-row">
    <%= link_to "LOG IN", new_user_session_path, class: "btn-link el-center active" %>
    <%= link_to "SING UP", new_user_registration_path, class: "btn-link el-center" %>.
  </div>
</div>
