@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

.container {
  height: 100vh;
  padding: 1rem;
  color: #434b54;
}

.clm-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.el-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-page {
  font-family: 'Courgette', cursive;
  flex: 1;
}

.btn-links {
  width: 100%;
}

.btn-link {
  width: 100%;
  height: 50px;
  color: rgb(95, 95, 95);
  margin: 5px;
}

.btn-link:hover,
.active {
  background-color: #3778c2;
  color: #fff;
}

/* ---------------------form inputs-------------------- */

.form-clm form {
  background: #fff;
  margin: 1rem 0;
  padding-top: 1rem;
  border-top: 1px solid #d3d3d3;
  width: 100%;
}

.field input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #d3d3d3;
  outline: none;
  background-color: transparent;
  height: 35px;
  padding: 10px;
  margin: 10px auto;
}

.submit {
  position: absolute;
  bottom: 20px;
  left: 10%;
  border: none;
  outline: none;
  width: 80%;
}

.shared-links {
  font-size: 14px;
  margin: 0 auto;
  text-align: center;
}

.shared-links a {
  color: rgb(95, 95, 95);
}

/* -----------------tansaction path------------------ */

.home-nav {
  background-color: #3778c2;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 10px 15px;
}

.btn {
  color: #fff;
}

.transactions {
  padding: 15px;
}

.card {
  width: 100%;
  background-color: #fff;
  box-shadow: 1px 2px 2px #d4d4d4;
  margin: 10px 0;
  border-radius: 5px;
  height: 100px;
}

.clm-flex-row {
  display: flex;
  align-items: center;
}

.btn-primary {
  background-color: #5fb523;
  color: #fff;
}

.icon {
  width: 95px;
  height: 95px;
  margin: 5px;
}

.groupe-name {
  justify-content: space-between;
  width: 100%;
  margin: 0 7px;
  font-size: 12px;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid #7e7e7e;
}

.group_descript {
  width: 65%;
  color: #7e7e7e;
}

.groupe-name p,
.groupe-name h3 {
  font-weight: 700;
  color: #434b54;
}

.card-date {
  width: 100%;
  margin-left: 8px;
  font-size: 10px;
}
